@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 100vh;    
    max-width: 1440px; 
    background-color: hsl(204, 43%, 93%);  
    font-family: 'Karla', sans-serif;
}

.container{
    width: 600px;
    height: 470px;
    border-radius: 7px; 
}

.area1{
    display: grid;
    grid-template-columns: 1fr;
    padding: 30px 30px;
    background-color: #fff;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.area1-content h2{
    color: hsl(179, 62%, 43%);
    font-weight: 700;
    padding-bottom: 20px;
}

.area1-content h4{
    color: hsl(71, 73%, 54%);
    font-weight:700
}

.area1-content p{
    color:hsl(218, 22%, 67%) ;
    padding-top: 15px;
    padding-bottom: 20px;
    line-height: 25px;
}

.area2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.area2-content{
    background-color: hsl(179, 62%, 43%);
    color: #fff;
    padding: 30px;
    border-bottom-left-radius: 7px;
}

.area2-content h2{
    font-size: 1.125rem;
    font-weight: 700;
    padding-bottom: 20px;
} 

.area2-content span{
    font-size:2.1875rem;
    font-weight:700 ;
}

.area2-content p{
    padding-top: 10px;
    padding-bottom: 20px;
    line-height: 25px;
}

.area2-content a{
    display: block;
    background-color: hsl(71, 73%, 54%);
    padding: 12px;
    border-radius: 7px;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.area3-content{
    background-color: hsl(179, 62%, 43%);
    opacity: 0.7;
    border-bottom-right-radius: 7px;
    padding: 30px;
    color: #fff;  
}

.area3-content h2{
    font-size: 1.125rem;
    font-weight: 700;
    padding-bottom: 20px;
}

.area3-content li{
    font-size: 0.9375rem;
    list-style: none;   
    padding-bottom: 2px;
}

@media (max-width:645px){
    .container{
        width: 100vw;
        height: 100vh;
    }
    
    .area1-content h2{
        text-align: center;
    }

    .area1-content h4{
        text-align: center;
    }
    
    .area2{
        display: grid;
        grid-template-columns: 1fr;
        margin-left: 30px;
        margin-right: 30px;
    }
}




/*
.container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 600px;
    height: 470px;
    border-radius: 7px; 
    
}

.area1{
    width: 600px;
    height: 217px;
    grid-area:area1;
    padding: 30px 30px;
    background-color: #fff;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.area1 h2{
    color: hsl(179, 62%, 43%);
    font-weight: 700;
    padding-bottom: 20px;
}

.area1 span{
    color: hsl(71, 73%, 54%);
    font-weight:700 ;
}

.area1 p{
    color:hsl(218, 22%, 67%) ;
    padding-top: 15px;
    padding-bottom: 20px;
    line-height: 25px;
}

.area2{
    height: 250px;
    width: 300px;
    grid-area:area2;
    background-color: hsl(179, 62%, 43%);
    color: #fff;
    padding: 30px;
    border-bottom-left-radius: 7px;
}

.area2 h2{
    font-size: 1.125rem;
    font-weight: 700;
    padding-bottom: 20px;
}

.area2 span{
    font-size:2.1875rem;
    font-weight:700 ;
}

.area2 p{
    padding-top: 10px;
    padding-bottom: 20px;
    line-height: 25px;
}

.area2 a{
    display: block;
    background-color: hsl(71, 73%, 54%);
    padding: 12px;
    border-radius: 7px;
    text-align: center;
    text-decoration: none;
    color: #fff;
}
.area3{
    width: 300px;
    height: 250px;
    grid-area:area3;
    background-color: hsl(179, 62%, 43%);
    opacity: 0.7;
    border-bottom-right-radius: 7px;
    padding: 30px;
    color: #fff;
}

.area3 h2{
    font-size: 1.125rem;
    font-weight: 700;
    padding-bottom: 20px;
}

.area3 li{
    font-size: 0.9375rem;
    list-style: none;   
    padding-bottom: 2px;
}

@media (max-width:645px){
    .container{
        grid-template-columns: 1fr;
    }

}*/